/* CSS */

.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 3rem;
}

.header p {
  font-size: 1.5rem;
}
/* CSS */
.main p {
  font-size: 1.5rem;
}
.main p {
  font-size: 1.5rem;
}

/* CSS */
.btn-primary {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 20px; /* Add margin to the top */
  text-align: center;
  margin: auto; /* Add margin: auto; to center horizontally */
  margin-bottom: 50px;
}

.main {
  width: 70%; /* Adjust width as needed */
  margin: auto; /* Center align horizontally */
  text-align: center; /* Center align text content */
}

.main img {
  width: 100%; /* Make the image responsive within its container */
}


.footer {
  text-align: center;
  margin-top: 50px;
}

.footer p {
  font-size: 1rem;
}
