<div class="landing-page">
  <div class="header">
      <h1>VRI Assist</h1>
  </div>
  <div class="main">
      <img src="assets/VrAssist Logo.PNG" alt="Landing page image" style="width: 70%; /* 30% smaller */">
      <p>VR-enabled Disabilities Detection</p>
      
      <a (click)="navigateToRegistration()" class="btn btn-primary">GET STARTED</a>
      <p>VRI Assist is a VR-enabled disabilities detection app that helps people with disabilities to get the support they need. With VRI Assist, you can easily connect with a qualified disability specialist to get help with tasks such as:</p>
      <ul>
          <li>Motor Assessments</li>
          <li>Cognitive Assessments</li>
      </ul>
  </div>
  <div class="footer">
      <p>Copyright © 2023 VRI Assist</p>
  </div>
</div>
